/* 
font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Style */
h1{
    font-family: 'Inter', sans-serif;
}
button{
    font-family: 'Inter', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
button{
    font-size: 20px;
    font-weight: 600;
    background: #FF5959;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
}
.default-margin{
    margin-top: 10%;
}
.common-title{
    font-size: 40px;
    font-weight: 700;
    color: #121212;
    text-align: center;
    margin-bottom: 30px;
}
.common-description{
    font-weight: 400;
    color: #707070;
    text-align: center;
    margin-bottom: 50px;
}
.common-description-width{
    padding: 0px 350px;
}

/* Header Section Start */
header{
    background-image: url(images/header-banner.jpg), linear-gradient(360deg, #1f1e1e 100%, rgba(255, 0, 0, 0) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    text-align: center;
    padding: 180px 300px;
    width: 100%;
}
.banner-content .banner-title{
    color: white;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 30px;
}
.banner-content .banner-description{
    font-weight: 400;
    color: white;
    padding: 0px 50px;
    margin-bottom: 30px;
}
/* Header Section End */

/* Donation Section Start */
.fund-container{
    display: flex;
    gap: 2%;
    justify-content: center;
}
.fund-container .fund-content{
    background: #FAFAFA;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 60px;
}
.fund-container .fund-content:hover{
    background: #FFEEEE;
    border: 2px solid #FF5959;
}
.fund-container .fund-content > h4{
    font-weight: 700;
    font-size: 30px;
    color: #707070; 
    padding: 45px 25px;
}
.amounts .fund-input{
    text-align: center;
}
.amounts .fund-input input{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #B3B3B3;
    border: none;
    margin-bottom: 20px;
    outline: none;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
hr{
    width: 60%;
    margin: 0 auto 30px auto;
    border-bottom: none;
    border-top: 1px solid #DADADA;
}
/* Donation Section End */

/* Donation Plan Section Start */
.card{
    display: flex;
    gap: 50px;
    margin: 0px 150px;
}
.card .card-container{
    padding: 50px 20px;
    border-radius: 10px;
}
.card .card-food{
    background: #edf5f6;
}
.card .card-shelter{
    background: #ffeeee
}
.card .card-child{
    background: #fff4d6
}
.card .card-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #121212;
    margin: 25px 0px 20px 0px;
}
.card .card-description{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #707070;
    margin-bottom: 15px;
}
/* Donation Plan Section End */

/* Contribute section start */
.contribute{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 10% 150px;
}
    /* Common thing in this card start */
.contribute-title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}
.contribute-description{
    font-family: 'Poppins';
    font-weight: 400;
    color: #707070;
    margin: 20px 0px;
}
.contribute-img{
    max-width: 100%;
    max-height: 100%;
}
    /* Common thing in this card end */
.contribute .left-contribute{
    max-width: 50%;
}
.contribute .right-contribute{
    width: 50%;
}
/* Contribute section End */

/* News Latter Section Start */
.subscribe{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
    background: #fff4d6;
    padding: 70px 150px;
}
.subscribe .secondary-input{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color: #AA9F9F;
    background: #D9D9D9;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 15px 80px 15px 20px;
    outline: none;
}
.subscribe .secondary-btn{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 15px 35px;
}
/* News Latter Section End */

/* Footer Section Start */
footer{
    text-align: center;
    background-color: #0B0D17;
    padding: 50px 0px;
}
.footer-title{
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #FF5959;    
}
.footer-short-title{
    margin-top: 2%;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
}
/* Footer Section End */
